.lapMark {
    position: relative;
    top: -51vh;
    left: 13vh;
    margin-right: 1vh;
}

.btnSecHit {
    display: flex;
    justify-content: space-around;
    margin-top: -35vh;
    position: sticky;
    bottom: 4vh;
}