.App {
  text-align: center;
  background-color: #FFFDF6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.hide {
  display: none;
}

.clock {
  margin: 0 auto;
  width: 261px;
}

.clockSection {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.noRunSeconds {
  top: -131px;
  left: -131px;
  position: relative;
  width: 1.1px;
}

.pauseSecond {
  top: -131px;
  left: -131px;
  position: relative;
  transform: rotate(360deg);
  transform-origin: bottom center;
  animation: spin 60s linear infinite;
  animation-name: spin;
  transition-property: all;
  width: 1.1px;
  animation-play-state: paused;

}

.sekundpekare {
  top: -131px;
  left: -131px;
  position: relative;
  transform: rotate(360deg);
  transform-origin: bottom center;
  animation: spin 60s linear infinite;
  animation-name: spin;
  transition-property: all;
  width: 1.1px;
}

@keyframes spin {

  from {
    transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);

  }

}



.noRunMinutes {
  top: -130px;
  left: -133px;
  position: relative;
  width: 2px;
}

.pauseHour {
  top: -130px;
  left: -133px;
  position: relative;
  transform: rotate(360deg);
  transform-origin: bottom center;
  animation: spin 3600s linear infinite;
  animation-name: spin;
  transition-property: all;
  width: 2px;
  animation-play-state: paused;
}

.timpekare {
  top: -130px;
  left: -133px;
  position: relative;
  transform: rotate(360deg);
  transform-origin: bottom center;
  animation: spin 3600s linear infinite;
  animation-name: spin;
  transition-property: all;
  width: 2px;
}


@keyframes spin {

  from {
    transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);

  }

}

.timer {
  position: relative;
  top: -11vh;
}

/* ---------------------------------------------- */

.stillMin {
  margin: 0 auto;
}

.pause {
  animation: spin 30s linear infinite;
  animation-name: spin;
  transition-property: all;
  animation-play-state: paused;
}

.rest {
  display: none;
}

.spin {
  animation: spin 30s linear infinite;
  animation-name: spin;
  transition-property: all;
}

@keyframes spin {

  from {
    transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);

  }
}

.pauseBreath {
  display: none;
}

.breath {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background: linear-gradient(60deg, violet, silver);
  animation-duration: 30s;
  animation-name: blink;
  animation-timing-function: ease;
  margin: 3vh auto;
}

@keyframes blink {
  from {
    background: linear-gradient(60deg, rgb(74, 146, 219), rgb(152, 215, 234));
  }


  10% {
    background: linear-gradient(60deg, rgb(136, 193, 223), silver);
    transform: scale(115%);
  }


  20% {
    background: linear-gradient(60deg, rgb(74, 146, 219), rgb(152, 215, 234));
    transform: scale(90%);
  }



  30% {
    background: linear-gradient(60deg, rgb(136, 193, 223), silver);
    transform: scale(115%);
  }

  40% {
    background: linear-gradient(60deg, rgb(74, 146, 219), rgb(152, 215, 234));
    transform: scale(90%);
  }



  50% {
    background: linear-gradient(60deg, rgb(136, 193, 223), silver);
    transform: scale(115%);
  }


  60% {
    background: linear-gradient(60deg, rgb(74, 146, 219), rgb(152, 215, 234));
    transform: scale(90%);
  }


  70% {
    background: linear-gradient(60deg, rgb(136, 193, 223), silver);
    transform: scale(115%);
  }



  80% {
    background: linear-gradient(60deg, rgb(74, 146, 219), rgb(152, 215, 234));
    transform: scale(90%);
  }



  90% {
    background: linear-gradient(60deg, rgb(136, 193, 223), silver);
    transform: scale(115%);
  }



  to {
    background: linear-gradient(60deg, rgb(74, 146, 219), rgb(152, 215, 234));


  }

}

.spinSection {
  width: 330px;
  height: 353px;
  margin: 0 auto;
}

.spinSection h3 {
  position: relative;
  top: -43vh;
  font-size: 4rem;
}

.hideSec {
  display: none;
}

.setTime article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.setTime p {
  margin: 0 10vw;
  font-size: 2rem;
}


.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #000000ba;
  display: flex;
  align-items: center;
  justify-content: center;
}